@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-gray-900 text-black dark:text-white;
}

.floating-time {
    position: fixed;
    bottom: 20px; /* Adjust the value as needed */
    left: 20px;   /* Adjust the value as needed */
    z-index: 1000; /* Ensure it is on top of other elements */
  }